h1 {
    color: blue;
    background-color: beige;
}
#box-1 {
    color: blue;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

